body{
    font-family: "Helvetica Neue";
    background: #121451;
}

.navbar{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#poster{
    width: 100%;
    height: auto;
}

.mainText{
    color: white;
    font-size: 18px;
}

.img-fluid{
    border-radius: 5px;
    width: 100%;
    height: 250px;
    opacity: 0.8;
}

.row{
    z-index: 1;
    align-items: center;
}

.item-box{
    margin: 2rem auto;
    background-color: white;
    border-radius: 5px;
}

.item{
    text-align: center;
    width: 100%;
}

.caption {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    text-align: center;
    color: darkslategray;
    font-weight: normal;
    font-size: 20px;
    margin: 0 auto;
}

.caption-content{
    text-align: center;
    width: 100%;
    margin: auto;
}

.caption:hover{color: black}